body{
    /*background-color: rgb(26, 44, 44);*/
    background-color: rgb(50, 50, 50);
    border: solid;
    border-color: rgb(255, 255, 0);
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: white;
    text-align: center;
    padding: 2%;
}

h1{
    font-size: 60px;
}

#Leaderboard{
    border: solid;
    border-color: rgb(255, 255, 0);
    width: 100%;
    height: 90%;
}
